<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="a088d46b-5d61-4836-8192-555d2cffeeb9" Publisher="CN=bo_bi" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a088d46b-5d61-4836-8192-555d2cffeeb9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Nuki Test</DisplayName>
    <PublisherDisplayName>bo_bi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App" Executable="$targetnametoken$.exe" EntryPoint="Nuki_Test.App">
      <uap:VisualElements DisplayName="Nuki Test" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Nuki Test" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>libsodium-uwp.dll</Path>
        <ActivatableClass ActivatableClassId="Sodium.Core" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.CryptoHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KDF" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KeyPair" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.OneTimeAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PasswordHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ScalarMult" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SealedPublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretAead" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ShortHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.StreamEncryption" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.Utilities" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>